.og-grid {
	list-style: none;
	padding: 20px 0;
	margin: 0 auto;
	text-align: center;
	width: 100%;
}

.og-grid .item {
	display: inline-block;
}

.og-grid .item > a,
.og-grid .item > a img {
	border: none;
	outline: none;
	display: block;
	position: relative;
}

.og-grid div.og-expanded > a::after {
	top: auto;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
	border-bottom-color: #111;
	border-width: 10px;
	left: 50%;
	margin: -8px 0 0 -10px;
}

.og-expander {
	position: absolute !important;
	background: #111;
	top: auto;
	left: 0;
	width: 100%;
	margin-top: 10px;
	text-align: left;
	height: 0;
	overflow: hidden;
}

.og-expander-inner {
	padding: 50px 80px;
	height: 100%;
}
