.search-result .thumbnail {
    max-height: 124px;
    overflow: hidden;
}

.input-section .form-type-textfield{
	margin-top:0;
}

.input-section .advanced-view{
	margin-top: -3.25rem;
	padding-left: 0.5rem;
}

.input-section .advanced-view .form-group{
	border-top:none;
}

.input-section .input-group .btn.btn-default{
	font-size: 1.65rem;
}

.input-section .input-group .glyphicon-chevron-right{
	position: relative;
	top: .3rem;
}