/** Custom Color Settings **/
.titlearea,
.carousel-control,
.breadcrumb .icon,
.nav-justified>li.active a,
.nav-justified>li.active a:hover,
.nav-justified>li.active a:active {
  background-color: #c4be28 !important;
}

.nav-justified>li.active::before {
  color: #c4be28 !important;
}
    /* darker shades below are used to better define details */
.bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a .check-mark,
.bootstrap-select.btn-group.show-tick .dropdown-menu li.selected a:active .check-mark,
.navbar-brand:hover .site-slogan,
.main-content .selectpicker .caret::before,
.view-section .nav-tabs>li.active>a, 
.view-section .nav-tabs>li.active>a:hover, 
.view-section .nav-tabs>li.active>a:active,
.view-section .fancytree-container .glyphicon,
.view-section .fancytree-container .fancytree-node:hover > .glyphicon,
.view-section .fancytree-container .fancytree-node:active > .glyphicon,
.view-section .fancytree-node.fancytree-active > .glyphicon,
.view-section .fancytree-node.fancytree-selected > .glyphicon {
  color: rgb(196,190,40) !important;
}

.view-section .nav-tabs>li.active>a, 
.view-section .nav-tabs>li.active>a:hover, 
.view-section .nav-tabs>li.active>a:active {
  border-top-color: rgb(196,190,40) !important;
}

.shanti-thumbnail-image.shanti-field-visuals .icon {
  background: rgba(196,190,40,0.8);
}

.navbar-brand:active .site-slogan {
  color: #444 !important;
}

.titlearea{ box-shadow: inset 0 1px 5px 3px rgba(50, 50, 50, 0.100);}
.titlearea > div{ box-shadow: inset 0 -2px 10px -4px rgba(0, 0, 0, 0.000);}

/* Pagerer clear both (should this be in shanti-main.css?) */
table.pagerer { 
  clear: both; 
  width:100%; 
  margin-top: -0.7rem;
}

.front .view-media-sharedshelf-my-images table.pagerer:first-of-type{
  margin-top: -2.4rem;
}

.view-media-sharedshelf-my-images table.pagerer:last-child{ 
  margin-bottom: 5rem;
  margin-top: 1.5rem;
}

ul.pager{ margin: 0 0 0.5rem;}





.front.logged-in .tab-pane.main-col > div > .block-system,
.front.logged-in .content-section .contextual-links-region h2,
.front.logged-in .content-section .contextual-links-region .content{ 
  max-width: 1050px !important;
  margin: 0 auto !important;
}

.front.logged-in .content-section .contextual-links-region .content{
  padding: 1rem 0 4rem;
}

.front.logged-in .tab-pane.main-col > div,
.front.logged-in .main-col .block-views.contextual-links-region{
  width: 100% !important;
  max-width: 100% !important;
  padding: 1.7rem 0 4rem;
}

.front.logged-in .content-section .contextual-links-region{
  padding-top: 0.1rem;
  margin-top: -1rem;
  position: relative !important;
}






/*---scroll to top ---*/
.content-section .btn-lightbox {
  position: absolute;
  bottom: 0.5em;
  right: 1rem;
  z-index:1;
  height: 4rem;
  width: 4rem;
  color: #ccc;
  background: #000;
  border-radius: 50%;
  border: 1px solid #777 !important;
  background-clip: padding-box;
  display: block;
}

.content-section .btn-lightbox:hover {
  text-decoration: none;
  border-color:#f0f0f0 !important;
  color: #eee;
}

.content-section .btn-lightbox:active{
  background-color:#444;  
  border: 1px solid #777 !important;
  border-bottom-color: #777 !important; /* override the .content-section anchor style */
}

.content-section .btn-lightbox .icon {
  font-size: 2rem;
  position: relative;
  top: 0.9rem;
  left: 1rem;
  font-family: 'FontAwesome';
}

.content-section .btn-lightbox:hover .icon::before,
.content-section .btn-lightbox:active .icon::before {
  color:#fff;
}

.content-section .btn-lightbox .icon::before {
  content: '\f065';
}



.lightbox-img-link{
  position:relative;
  padding-bottom:75%;
  display:inline-block;
}



.og-grid{
  padding:0;
}

.og-expander{ 
  border-bottom:0.75rem double #eee;z-index:100;
}

.og-expander-inner {
  background: #222;
  padding: 2.5rem 5rem;
}

div.item.last-row{ clear:both;}

.og-fullimg {
  padding: 0 0 0 2rem;
  margin: 0;
  width: 55%;
  min-height: 200px; /* helps disply the img loading spinner */
  text-align:left;
}


/* Coordinate these rules with the script for centering the image in the gallery dropdown */
.og-img-wrapper{
  position:relative;
  padding-bottom:80%;
  overflow: hidden;
  display:inline-block;
}

.og-fullimg img {
  display: inline-block;
  max-height: 100%;
  max-width: 100%;
  position:absolute;
  top:-50%; bottom:-50%;
  left:-50%; right:-50%;
  margin:auto;
  width: auto;
  height: auto;
  vertical-align: middle;
}






.og-details {
  padding: 0 1rem 0 2rem;
  width: 42%;
}

.content-section .og-details a {
  border: none;
  color: #999;
  font-size: 13px;
  color: #d6d6d6;
  padding: 10px 20px;
  display: inline-block;
  margin: 30px 0 0;
}

.content-section .og-details a:hover {
  color: #ccc;
}

.content-section .og-details a:active {
  color: #eee;
}

.content-section .og-details a:last-child {
  margin-top: 1rem;
}

.og-details .nav-tabs>li:first-of-type{
  margin-left: 0.75rem;
}

.og-details p {
  font-size: 0.93em;
  font-family: 'Helvetica Neue',helvetica,arial,sans-serif;
  letter-spacing:normal;
  color: #c0c0c0;
  font-weight:normal;
}

.og-details h3 {
  color:#d6d6d6;
  font-weight:normal;
  font-family:'museo-sans-500',arial,sans-serif;
  padding:0;
  font-size: 1.25em;
  line-height:1.32em;
  margin: 1rem 0;
}

.og-grid .og-expanded > a::after{
  border-bottom-color:#222;
}

.og-grid .item {
  margin:0 5px 10px 0;
  display: -moz-inline-box;
  display: inline-block;
  vertical-align: top;
  z-index: 1;
}













.og-close {
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 10;
  width: 30px;
  height: 30px;
  cursor: pointer;
  color:#aaa;
}


.og-details .tab-content {
  background: #222;
}

.og-details .tab-content #info{
  padding-left:0.6rem;
}

.og-details .tab-content #desc{
  padding-left:1.2rem;
}

.og-details ul {
  margin: 0 0 0 0.75rem;
  padding: 0;
}

.og-details #info li {
  list-style-type: none;
  color: #eee;
  margin: 1.5rem 0 0 0;
  padding: 0;
}

.og-details #info li label {
  color: #999;
  display: block;
  font-size: 70%;
  margin-left: 0;
}

.og-details .nav-tabs {
  border-bottom: 1px solid #555;
}

.og-details .nav-tabs>li>a {
  border: none;
  color: #999;
  background: transparent;
  font-size: 1.06em;
  font-family: 'Helvetica Neue',helvetica,arial,sans-serif;
}

.og-details .nav-tabs>li>a:hover,
.og-details .nav-tabs>li>a:focus,
.og-details .nav-tabs>li>a:active {
  border: none;
  color: #eee;
}

.og-details .nav-tabs>li>a::before {
  content: '';
  display: none;
}

.og-details .tab-pane {
  padding-top: 0rem;
  min-height:200px;
}

.og-details .tab-pane ul {
  font-size: 1.06em;
}

/**** nav-arrow buttons ****/

.og-nav-arrow{
  position: absolute;
  top: 50%;
  width: 6rem;
  height: 10rem;
  border-radius: .3rem;
  border: 1px solid #303030;
  margin-top: -5rem;
  background: #242424;
  box-shadow: inset 0 0 10px #111;
  display: inline-block;
}

.og-nav-arrow:hover{
  background:#2e2e2e;
  border-color:#444;
}

.og-nav-arrow:active{
  border-color:#555;
  background:#202020;
}

.next.og-nav-arrow{
  position: absolute;
  right:-1rem;
  text-shadow: 0.2rem 0 0.5rem #111;
}

.prev.og-nav-arrow{
  position: absolute;
  left: -1rem;
  text-shadow: 0 0.2rem 0.5rem #111;
}

.og-nav-arrow .icon{
  font-size:3.5rem;
  width: 6rem;
  height: 10rem;
  position:relative;
  top:3rem;
  background:transparent;
}

.og-nav-arrow .icon::before{
  position:relative;
  color: #444;
  background:transparent;
}

.next.og-nav-arrow .icon::before{
  content: '\e607';
  right: -0.7rem;
}

.prev.og-nav-arrow .icon::before{
  content: '\e606';
  left: 1.4rem;
}

.og-nav-arrow:hover .icon::before{
  color:#707070;
  background:transparent !important;
}

.og-nav-arrow:active .icon::before{
  color:#aaa;
  background:transparent !important;
}




.nav-tabs>li.active>a,  
.nav-tabs>li.active>a:hover,
.nav-tabs>li.active>a:focus,
.nav-tabs>li.active>a:active {
  background: #222;
  color: #ccc;
  border: 1px solid #555;
  border-bottom: none;
  border-top: 2px solid #909090;
  border-radius: 0.2rem;
}

/* .last-row ~ .item:last-of-type{ border:2px solid red;} .last-row ~ .item:last-of-type::after{ height:100px;display:inline-block;min-width:100%;width:100%;} */

/* single image page */
.page-file .file-image {
  border-left: 3rem dotted #e3e3e3;
  border-right: 3rem dotted #e3e3e3;
  margin-top: 2rem;
  padding: 0 2rem 2rem;
}

.page-file .file-image img {
  float: right;
  margin: 2rem 1rem 2rem 3rem;
  padding: 0.7rem;
  border-radius: 0.2rem;
  background: #fff;
  border: 1px solid #d0d0d0;
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,.075);
  box-shadow: 0 1px 2px rgba(0,0,0,.075);
}

.page-file .file-image .field .field-label {
  margin-top: 1.5rem;
  text-transform: uppercase;
  font-family: 'museo-sans-500',helvetica,arial,sans-serif;
}

.page-file .main-col .block-system > .content {
  padding: 0 1.5rem 1.5rem;
  margin-top: -0.5rem;
  margin-bottom: 7rem;
  border: 4px solid #e7e7e7;
}

.page-file .main-col .file-image > .content:nth-of-type(1) {
  margin-top: -0.5rem;
  background: white;
  border: 1px solid #e9e9e9;
  border-top: 1rem solid #ccc;
  padding: 0rem 2rem 2rem 3rem;
  box-shadow: -1px 2px 5px #e0e0e0;
  border-collapse: separate;
}

.field-name-field-sharedshelf-solr-search {
  display: none;
}

/*----- PDF Styles -----*/
body.page-file-pdf .main-col .block-system > .content {
	border-left: none;
	border-right: none;
	border-bottom: none;
}

div.pdfextlink { float: right; }

/*------ File Page ------*/
.file-ss-div {
	margin: 12px auto;
}

.file-ss-div .field {
	margin: 4px 0 0 0;
}




/* lightbox hiding search tab */
.pswp{
  z-index:10500
}

/**** lightbox 
.pswp__counter{
  display:none;
}

.pswp__top-bar{
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 44px;
}
****/



/*-------------------------*/
/*=== max-width (first) ===*/
/*-------------------------*/

@media screen and (max-width: 992px) {

  .page-file .file-image img {
    float: none;
    margin: 2rem auto;
  }
}

@media screen and (max-width: 767px) {

  .og-fullimg {
    height:auto;
    width:100%;
  }

  .og-details{
    padding-right: 1em;
    padding-top: 2.5rem;
    margin-top:0;
    width:100%;
  }

  .og-fullimg, 
    .og-details {
    display: block;
    width: 100%;
    border: none;
  }

  .og-details h3 {
    margin: 1rem 0.5rem 1.25rem;
  }

  .og-expander-inner {
    overflow-x: auto;
    padding-bottom: 5rem;
    padding-top: 2rem;
  }

  .og-fullimg img {
    margin: 0;
  }
}

@media screen and (max-width: 600px) {

  .page-file .file-image {
    border: none;
    padding: 0;
  }
}




/*--------------------------*/
/*=== min-width (second) ===*/
/*--------------------------*/

@media screen and (min-width: 768px) {

  .og-fullimg{
    /*margin: 0;
    padding-right:0;*/
  }

  .og-details{

  }

 } 

@media screen and (min-width: 992px) {

  .og-details {
    padding: 0.3em 0 0 2rem;
  }

}

@media screen and (min-width: 1150px) {

}



