.search-result .thumbnail {
    max-height: 124px;
    overflow: hidden;
}

.extruder .input-group .form-type-textfield{
	margin-top:0;
}

.extruder .input-group .advanced-view{
	margin-top: -3.5rem;
	padding-left: 0.5rem;
}

.extruder .input-section .input-group .btn.btn-default{
	font-size: 1.65rem;
}

.extruder .input-section .input-group .glyphicon-chevron-right{
	position: relative;
	top: .3rem;
}